* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.60)), url("/static/images/image3.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.form-container {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.gender-options {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.gender-options label {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}

.gender-options input[type="radio"] {
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #5a54e0;
}

#drop_area {
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}

#img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;
}

#img-view img {
    width: 100px;
    margin-top: 25px;
}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}
