.container{
    /* background: linear-gradient(45deg, #1e3a8a, #142d71); */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 100px;
}
.container .heading{    text-align: center;
    padding-bottom: 15px;
    color: black;
}
.box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 5px;
    

}
.box_container .cardList{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}


.box_container .cardList h3{
  color: black;
  font-size: 20px;
  margin: 10px 0;
}



.header_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  position: relative; 
  margin-bottom: 10px;

  /* align-items: center; */

}

.header_container .filter_container{
  /* justify-content: space-between; */
}

 .course_heading{
/* justify-content: left;
background-color: black; */
}
.search_container{
  display: flex;
}
.search{
  border: solid black;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
}
.search_btn{
 
}
.search_btn .icon{
 font-size: 30px;
}

.filter_container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.select{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  flex: 1 1 auto; /* Allow dropdowns to grow and shrink */
  min-width: 150px; /* Minimum width for dropdowns */
  margin: 5px 0
}
.filter_icon{
  display: none;
  /* fill: white; */
}


@media (max-width: 768px) {
.filter_icon{
  display: block;
}
  .header_container{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
   
  }
  .head_filter_con{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    
  }
  .filter_container{
    display: none;
    width: 100%;
    gap:5px;
    display: none;
  }
  .select {
   width:100%;
   margin: 5px 0;
  }
  .filter_container.show_filters {
    transition: 0.3s ease;
    display: flex; 
  }
}
@media (max-width: 480px) {
  .course_heading {
    font-size: 20px; 
  }

  .select {
    font-size: 12px; /* Reduce font size for dropdowns */
  }
}