<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Measurements</title>
    <link rel="stylesheet" href="/static/style/measurement.css">
    <SCRIPT src="/static/script/measurement.js"></SCRIPT>
</head>
<body>
    <div class="container">
        <div class="measurements-container">
            <h1>User Measurements</h1>
            <div class="measurement">
                <label for="user-id">User ID:</label>
                <span id="user-id"></span>
            </div>
            <div class="measurement">
                <label for="height">Height:</label>
                <span id="height"></span>
            </div>
            <div class="measurement">
                <label for="wrist">Wrist:</label>
                <span id="wrist"></span>
            </div>
            <div class="measurement">
                <label for="chest_width">Chest Width:</label>
                <span id="chest_width"></span>
            </div>
            <div class="measurement">
                <label for="leg">Leg:</label>
                <span id="leg"></span>
            </div>
            <div class="measurement">
                <label for="arms">Arms:</label>
                <span id="arms"></span>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/script/measurement.js"></script>
</body>
</html>
