#sidebar {
  position: sticky;
   box-sizing: border-box;
   height: 100vh;
   width: 250px;
   padding: 5px 1em;
   background-color: var(--base-clr);
   border-right: 1px solid var(--line-clr);
   /* position: sticky; */
   transition: width 0.3s ease;
  /* overflow: hidden; */
   text-wrap: nowrap;
   /* z-index: 999; */
   
   /* background-color: rgba(185, 29, 29, 0);
   backdrop-filter: blur(10px); */
 
 }
 .sidebar_menu{
  width: 100%;
 }
 
 .logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   cursor: pointer;
 }
 
 
 .logo span {
   color: var( --secondary-text-clr);
   font-size: 1.3em;
   transition: opacity 0.3s ease;
   font-weight: bold;
 }
 .sidebar_menu span{
  font-size: .9rem;

 }
 .sidebar_menu span:hover{
color: var(--secondary-text-clr);
transition: transform 0.3s ease; 
 }
 
 .logo svg {
   fill: var(--text-clr);
   /* transition: transform 0.3s ease;  */
 }
 
 
 
 .sidebar_menu li {
   list-style: none;
   text-decoration: none;
   border-radius: 5px;
 }
 
 .sidebar_menu a {
   border-radius: 5px;
   padding: 0.85em;
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 1em;
   margin: 2px;
   color: var(--text-clr);
 }
 
 .sidebar_menu a svg {
   fill: var(--text-clr);
   transition: fill 0.3s ease;
 }
 
 .sidebar_menu a:hover svg, span {
   fill: var(--secondary-text-clr);

 }
 
 /* Collapsed State */
 #sidebar.collapsed {
   width: 70px;
 }
 
 #sidebar.collapsed .logo {
   justify-content: center;
 }
 
 #sidebar.collapsed .logo span {
   display: none;
 }
 
 #sidebar.collapsed .logo svg {
   transform: rotate(180deg);
   margin: 0 auto;
 }
 
 #sidebar.collapsed .sidebar_menu a {
   justify-content: center;
   padding: 0.85em 0;
   margin: 0;
   width: 100%;
 }
 
 #sidebar.collapsed .sidebar_menu span {
   display: none;
 }
 
 #sidebar.collapsed .sidebar_menu a:hover {
   background-color: transparent;
 }
 
 #sidebar.collapsed .sidebar_menu a:hover svg {
   fill: var(--secondary-text-clr);
 }

 @media(max-width: 800px){
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    padding: 0;
    border-top: 1px solid var(--line-clr) ;
    position: fixed;
    bottom: 0;
    z-index: 1;
    backdrop-filter:none;
    background-color: var(--base-clr);

    > ul{
  
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll ;
      display: flex;
      justify-content: center;
 
      margin-top: -20px;
    }
    ul li{
      height: 100%;
    }
  }
  
 .logo span, .logo svg, ul li span{
    display: none;
  }
 }