
mysqlclient==2.1.1
SQLAlchemy==2.0.29
urllib3==2.2.1
Werkzeug==3.0.3
wrapt==1.16.0
numpy
matplotlib==3.9.2
mediapipe==0.10.14
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
absl-py==2.1.0
attrs==24.1.0
bcrypt==3.1.7
beautifulsoup4==4.10.0
blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==2.8
cycler==0.12.1
decorator==5.1.1
Deprecated==1.2.14
filelock==3.15.4
flasgger==0.9.7.1
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==23.0.0
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
kiwisolver==1.4.5
lxml==4.8.0
MarkupSafe==2.1.5
mistune==3.0.2
oauthlib==3.2.0

protobuf==4.25.4
pycparser==2.22
python-dateutil==2.9.0.post0


