.container{
    display: flex;
    flex-direction: column;
}
.container h1{
    text-transform: uppercase;

   color: #1e3a8a;
   font-weight: bolder;


   
    border-radius: 5px; 

    font-size: 20px; 
   

}
.courseContainer{
    margin: 10px;
    display: flex;
   
}
.cardList{
   width: 300px;
   background-color: #fff;
   border-radius: 8px;
   margin: 20px;
   overflow: hidden;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9) ;
    
}
.icon{
    width: 300px;
    height: 100px;

}

.cardcontents{
    padding: 16px;
}

.wrapped .coursename{
   text-transform: uppercase;
   padding-top: 5px;
   padding-left: 16px;
   color:#1e3a8a;
   font-weight: bold;
}
.cardcontents {
 
display: flex;
text-transform: capitalize;
justify-content: space-between;

}
/* Button Style */
.btn {
    display: inline-block;
    background-color: #1e3a8a; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 16px; /* Text size */
    text-align: center; /* Center the text */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .btn:hover {
    background-color: white; /* White background on hover */
    color: #7BA23F; /* Green text on hover */
    border: 2px solid #1e3a8a;; /* Green border on hover */
  }
  