
.form_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 20px;
}


.form_container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


.status_message {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}


.form_group {
  display: grid;
  gap: 8px;
}

.form_group label {
  font-weight: bold;
}

.form_group input,
.form_group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  width: 100%;
  resize: vertical;
}


.course_outline {
  grid-column: span 1; 
}


.outline_item {
  display: grid;
  gap: 15px;
}

.remove_week_button,
.add-week-button,
button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove_week_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add_week_button {
  margin-top: 10px;
}

button[type="submit"]:hover,
.remove-week-button:hover,
.add-week-button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  margin-top: 10px;
  grid-column: span 1;
}

button[type="submit"] {
  margin-top: 30px;
}
