.container{
  height: 100vh;
}

.filter_container{
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .course_content{
    display: flex;
    flex-direction: column;
  }
  .button_nav{
    position:fixed;
    bottom: 1px;
  }

  .course_content p{
    margin-top: 5px;
    margin-bottom: 5px;

  }
  .course_content ul{
    list-style-type: disc;
  }
  .course_content h1{
    margin: 5px;
    font-size: 1.2em;
    color: var(--secondary-text-clr);
  }
  .course_content h2{
    margin: 5px;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--secondary-text-clr);
  }
  .course_content p{
    margin-left: 10px

  }
  .course_content ul{
    margin-left: 30px

  }
.contents{
  margin: 5px;
}
/* courseContent.module.css */



/* Hide the .maths class (if needed) */
.maths {
  display: none;
}
.MathJax{
  background-color: black;
}
@media (max-width: 768px) {
  .button_nav{
    position: fixed;
    bottom: 60px;
  }
 
  .filter_container{
    flex-direction: column;
  }
  .filter_container select{
    width: 100%;
  }
  .course_content h1{
    margin: 5px;
    font-size: 1em
  }
  .course_content p{
    margin-left: 10px

  }
  .course_content ul{
    margin-left: 30px

  }
}

