.past_question_container{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.quiz_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.timer, .question_number{
    font-size: 1.2rem;
}
.question_container{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
.question{
    font-size: 1.1em;
    margin-bottom: 10px;
}
.options{
    margin-bottom: 20px;
    display: flex;
 
}
.option{
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid var(--accent-clr); 
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: 0.3s ease, border-color 0.3s ease;
}
.option:hover{
    transition: 0.3s ease;
    background-color: var(--accent-clr); 
    color: #fff;
}
.option.selected {
    background-color: var(--accent-clr); 
    color: white;
    border-color: var(--accent-clr); 
}
    
.button_section{
    display: flex;
    justify-content: space-between;
}
button{
  padding: 10px 20px; 
  border: none;
  border-radius: 8px; 
  background-color: var(--secondary-text-clr); 
  color: white; 

  font-size: 14px; 
  font-weight: 500; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  margin: 5px;

  
}
.prv_btn:disabled, 
.next_btn:disabled, 
.submit_btn:disabled {
  background-color: #ccc; 
  color: #666;
  cursor: not-allowed; 
  opacity: 0.6; 
}
.explanation{
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;

}

@media (max-width: 400px){
    .options{
     
        flex-direction: column;
    }
    .option{
        padding: 10px;
    }
    button{
        font-size: .7em;
        /* width: 100px; */
    }
}