.past_question_container{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.quiz_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.timer, .question_number{
    font-size: 1.2rem;
}
.question_container{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}
.question{
    font-size: 1.1em;
    margin-bottom: 10px;
}
.options{
    margin-bottom: 20px;
    display: flex;
}
.option{
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid green;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: 0.3s ease, border-color 0.3s ease;
}
.option:hover{
    /* transition: 0.3s ease; */
    background-color: green;
    color: #fff;
}
.option.selected {
    background-color: green;
    color: white;
    border-color: green; /* Keep green border when selected */
}
    
.button_section{
    display: flex;
    justify-content: space-between;
}